*{
	box-sizing: border-box;
}

a{
	text-decoration: none;
}

html{
	max-width: 100vw;
	overflow-x: hidden;
	min-height: 100%;
}

body{
	overflow-x: hidden;
	position: relative;

}

.rr-container{
	width: 100%;
	max-width: 1470px;
	@include mh(auto);
	@include ph(15px);
}

.rr-section_pv_md {
	padding-top: 50px;
	padding-bottom: 50px;
}


html.overflow-hidden{
	&,
	body{
		overflow: hidden;
	}
}