body{
	font-weight: 400;
}

.rr-title{

}

.rr-html-area{
	a{

	}
	ul{
		li{

		}
	}
	p{

	}
	span{
		
	}
	h1,
	h2,
	h3,
    h4,
	h5,
	h6{
	}
	h1{
	}
	h2{
	}
	h3{
	}
	h4{

	}
	h5{
	}
	h6{
	}
}









